# Config files
instance/*


# Python
app/__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Environment
.env
.venv
env/
venv/

# Node
node_modules/
dist/
.npm
app/static/css/styles.css

# IDE
.idea/
.vscode/
*.sublime-*
*.swp
*.swo

# Logs
*.log
logs/

# System
.DS_Store
Thumbs.db

